
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Yantramanav', sans-serif;
    background-color: rgba(250,250,250);
    font-size: 3rem;
    
}

.login {
    margin: 5rem auto 1rem;
    width: 45rem;
    background-color: rgba(255,255,255);
    border: 1px solid rgb(219,219,219);
    border-radius: 1px;

}

.login__basic {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login__title {
    background-image: url(./src/logo_instagram.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
/* czy tak mozna w ogole  */
    width: 60%;
    height: 11rem;
    max-width: 30rem;
    padding-bottom: 15rem;;
    

}

/* LOGIN - BASIC WAY */

.login__input {
    display: block;
    margin-bottom: 1rem;
    width: 80%;
    height: 4.5rem;
    background-color: rgba(250,250,250);
    border: 1px solid rgb( 219,219,219);
    border-radius: 2px;
    padding: 5px;
}

.login__enter {
    display: block;
    width: 80%;
    background-color: rgb(45,149,246) ;
    text-decoration: none;
    color: rgba(250,250,250);
    padding: .5rem;
    font-size: 2rem;
    text-align: center;
    font-weight: 400;
    border-radius: 7px;
}


/* OTHER LOGIN OPTION */

.login__different {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.or {
   width: 80%; 
   text-align: center; 
   border-bottom: 1px solid rgba(189, 188, 188, 0.8); 
   color: rgba(189, 188, 188);
   line-height: 0.1em;
   margin: 5rem auto; 
   font-size: 2rem;
   font-weight: 500;
} 
/* inny sposob na tworzenie lini na okolo slowa? */
.or span { 
    background:#fff; 
    padding:0 10px; 
}

.login__options a {
    text-decoration: none;
    color: rgb(56,81,133);
    display: block;
    text-align: center;
    font-size: 2rem;
    font-weight: 500;
}

.login__options .login__options--2 {
    font-size: 1.3rem;
    padding: 2rem;
}

/* CREATE ACCOUNT */

.create {
    margin: .5rem auto ;
    width: 45rem;
    background-color: rgba(255,255,255);
    border: 1px solid rgb(219,219,219);
    border-radius: 1px;
}

.create__text {
    text-align: center;;
    padding: 2rem;
    font-size: 1.7rem;
}

.create__text--link {
    text-decoration: none;
    color: rgb(47,156,246);
    font-weight: 600;
}

/* DOWNLOAD */
.download {
    margin: 5rem auto ;
    width: 45rem;
    height: 20rem;
    position: relative;
}
 
.download__title {
    text-align: center;
}


/* absolute - ale sie rozjezdza, normalnie uzylbym flexa ? nie jest na srodku. 

Dodatkowo rozne rozmiary obrazow*/


.download__button {
    background-size: contain;
    background-repeat: no-repeat;
    width: 40%;
    height: 5rem;   
    margin-top: 1rem;
}
.download__button:hover {
   cursor:pointer; 
}

.download__button--1 {
    background-image: url(./src/googleplay.png);
    position: absolute;
    right: 5rem;
    

}

.download__button--2 {
    background-image: url(./src/appstore.png);
    position: absolute;
    left: 5rem;
}

/* FOOTER */

.footer {
    width: 75%;
    margin: 5rem auto 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.5rem;
}

.footer__links {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.footer__link {
    padding: 1rem 2rem;
    color: rgb(4, 52, 92);
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;

}

.footer__date {
    color:grey;
    margin: 3rem 0;
    text-transform: uppercase;
    font-weight: 400;
}
